<% layout("layouts/boilerplate") %>
<h2>Settings</h2>
<hr>
<h3>User Info</h3>
<% if(user.businessName){ %> 
    <p>Business Name: <%= user.businessName %> </p>
<% } %> 
<p>Name: <%= user.name %> </p>
<p>Email: <%= user.email %> </p>
<p>Logo:</p>
<% if(user.logo.url){ %>
    <div class="mb-3">
        <img src="<%= user.thumbnail %> " alt="">
    </div>
<% } %>
<div> 
    <a class="btn btn-primary" href="/settings/edit-user">Edit</a>
</div>
<hr>
<h3>Subscription Info</h3>
<% if(stripeSubscription.status == "active"){ %> 
    <p>$<%= (stripeSubscription.items.data[0].price.unit_amount/100).toFixed(2) %>/month</p>
    <p>Next bill date: <%= new Date(stripeSubscription.current_period_end*1000).toDateString() %></p>
    <form action="/settings/cancel-subscription" method="POST">
        <button class="btn btn-danger">Cancel Subscription</button>
    </form>
<% } else{ %> 
    <p>Not active</p>
<% } %> 
<hr>
<h3>Payment Method</h3>
<p>Card on file: <%= stripePaymentMethod.card.brand[0].toUpperCase()+stripePaymentMethod.card.brand.substring(1) %>****<%= stripePaymentMethod.card.last4 %> </p>
<a class="btn btn-primary" href="/settings/edit-payment-method">Edit</a>