<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- block("meta-tags") %> 
    <title>Blue Flamingo</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link href="/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <%- block("header-scripts") %> 
</head>
<body>
    <%- include("../partials/navbar") %>
    <main class="container mb-3">
        <%- include("../partials/flash") %>
        <%- body %>
    </main>
    <script src="/jquery/dist/jquery.slim.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <script src="/js/validate-forms.js"></script>
    <%- block("scripts") %> 
</body>
</html>