<% layout("layouts/boilerplate") %>
<div class="row">
    <div class="col-2 col-sm-1">
        <a class="btn btn-danger align-self-start" href="/invoices">
            <span class="oi oi-arrow-thick-left" title="arrow thick left" aria-hidden="true"></span>
        </a>
    </div>
    <div class="col">
        <h2 class="text-center">Invoice #<%= stripeInvoice.metadata.invoiceNumber %></h2>
    </div>
    <div class="col-2 col-sm-1"></div>
</div>
<p class="text-center">Status: <%= stripeInvoice.status %></p>
<hr>
<h4>Sent To</h4>
<p class="form-control"><%= stripeInvoice.customer_name %> (<%= stripeInvoice.customer_email %>)</p>
<hr>
<h4>Line Items</h4>
<% for(let lineItem of stripeInvoice.lines.data){ %>
    <div class="row justify-content-between mx-0">
        <p class="col form-control mr-2"><%= lineItem.description %></p>
        <p class="col-3 form-control ml-2">$<%= (lineItem.amount/100).toFixed(2) %></p>
    </div>
<% } %>
<hr>
<div class="row justify-content-between">
    <h4 class="col">Total:</h4>
    <h4 class="col text-right">$<%= (stripeInvoice.amount_due/100).toFixed(2) %></h4>
</div>
<div class="row justify-content-between">
    <h4 class="col">Paid:</h4>
    <h4 class="col text-right">$<%= (stripeInvoice.amount_paid/100).toFixed(2) %></h4>
</div>
<hr>
<div class="row justify-content-between">
    <h3 class="col">Due:</h3>
    <h3 class="col text-right">$<%= (stripeInvoice.amount_remaining/100).toFixed(2) %></h3>
</div>
<hr>
<h5>Notes</h5>
<p class="form-control"><%= stripeInvoice.description %></p>
<hr>