<% layout("layouts/boilerplate") %>
<h2>Invoices</h2>
<hr>
<form action="" method="GET">
    <div class="mb-3">
        <select class="custom-select" name="status" id="status" onchange="this.form.submit()">
            <option value="" <%= invoiceStatus===""?"selected":"" %>>All</option>
            <option value="draft" <%= invoiceStatus==="draft"?"selected":"" %>>Draft</option>
            <option value="open" <%= invoiceStatus==="open"?"selected":"" %>>Unpaid</option>
        </select>
    </div>
</form>
<hr>
<% if(invoices.length == 0){ %> 
    <p>Currently no invoices. Click the button below to create an invoice.</p>
<% } %> 
<% for(let invoice of invoices){ %>
    <a href="/invoices/<%= invoice._id %>">
        <p>#<%= invoice.invoiceNumber %> - <%= invoice.status %></p>
        <p><%= invoice.customer.name %> - $<%= (invoice.amount.due/100).toFixed(2) %></p>
    </a>
    <hr>
<% } %>
<a class="btn btn-primary btn-lg fixed-bottom-right" href="/invoices/new">Create New Invoice</a>