<% layout("layouts/boilerplate") %>
<h2>Invoices</h2>
<hr>
<form action="" method="GET">
    <div class="mb-3">
        <select class="custom-select" name="status" id="status" onchange="this.form.submit()">
            <option value="" <%= invoiceStatus===""?"selected":"" %>>All</option>
            <option value="draft" <%= invoiceStatus==="draft"?"selected":"" %>>Draft</option>
            <option value="open" <%= invoiceStatus==="open"?"selected":"" %>>Unpaid</option>
        </select>
    </div>
</form>
<hr>
<% if(stripeInvoices.length == 0){ %> 
    <p>Currently no invoices. Click the button below to create an invoice.</p>
<% } %> 
<% for(let stripeInvoice of stripeInvoices){ %>
    <a href="/invoices/<%= stripeInvoice.metadata.invoiceId %>">
        <p>#<%= stripeInvoice.metadata.invoiceNumber %> - <%= stripeInvoice.status %></p>
        <p><%= stripeInvoice.customer_name %> - $<%= (stripeInvoice.amount_due/100).toFixed(2) %></p>
    </a>
    <hr>
<% } %>
<a class="btn btn-primary btn-lg fixed-bottom-right" href="/invoices/new">Create New Invoice</a>