<% layout("layouts/boilerplate") %>
<% block("header-scripts").append('<script src="https://js.stripe.com/v3/"></script>') %>
<div>
    <h2 class="text-center">Invoice #<%= invoice.invoiceNumber %></h2>
    <h3 class="text-center"><%= userName %></h3>
</div>
<div class="row">
    <span class="mx-auto px-3 h5 rounded text-white" id="invoice-status"><%= invoice.status %></span>
</div>
<hr>
<h4>Billable To</h4>
<p><%= invoice.customer.name %> (<%= invoice.customer.email %>)</p>
<hr>
<h4>Line Items</h4>
<% for(let lineItem of stripeInvoice.lines.data){ %>
    <div class="row justify-content-between mx-0">
        <p class="col mb-0"><%= lineItem.description %></p>
        <p class="col-3 col-md-2 mb-0 text-right">$<%= (lineItem.amount/100).toFixed(2) %></p>
    </div>
<% } %>
<hr>
<div class="row justify-content-between">
    <h4 class="col">Total:</h4>
    <h4 class="col text-right">$<%= (invoice.amount.due/100).toFixed(2) %></h4>
</div>
<div class="row justify-content-between">
    <h4 class="col">Paid:</h4>
    <h4 class="col text-right">$<%= (invoice.amount.paid/100).toFixed(2) %></h4>
</div>
<hr>
<div class="row justify-content-between">
    <h3 class="col">Due:</h3>
    <h3 class="col text-right">$<%= (invoice.amount.remaining/100).toFixed(2) %></h3>
</div>
<hr>
<% if(invoice.amount.remaining){ %> 
    <form action="/invoices/<%= invoice._id %>/pay" method="POST" id="payment-form">
        <label class="form-label" for="card-element">Credit or debit card information</label>
        <div class="mb-3 form-control" id="cardNumber"></div>
        <div class="mb-3 form-row">
            <div class="col-4">
                <div class="form-control" id="cardExpiry"></div>
            </div>
            <div class="col-3">
                <div class="form-control" id="cardCvc"></div>
            </div>
            <div class="col-5">
                <input class="form-control" type="number" id="postalCode" placeholder="Postal Code">
            </div>
        </div>
        <div class="mb-3" id="card-errors" role="alert"></div>
        <div class="mb-3 text-center">
            <button class="btn btn-primary px-5">
                <span class="h5">Pay Invoice</span>
            </button>
        </div>
    </form>
<% } %> 
<% block("scripts").append('<script src="/js/invoice-status.js"></script>') %>
<% if(invoice.amount.remaining){ %> 
    <% block("scripts").append('<script src="/js/submit-payment-method.js"></script>') %>
<% } %> 