<% layout("layouts/boilerplate") %>
<% block("header-scripts").append('<script src="https://js.stripe.com/v3/"></script>') %>
<% block("header-scripts").append('<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>') %>
<% if(invoice.user.logo.url){ %>
    <div class="text-center"> 
        <img src="<%= invoice.user.thumbnail %>" alt="logo">
    </div>
<% } %>
<div>
    <h2 class="text-center"><%= invoice.user.businessName %></h2>
    <h3 class="text-center">Invoice #<%= invoice.invoiceNumber %></h3>
</div>
<div class="row">
    <span class="mx-auto px-3 h5 invoice-status"><%= invoice.status %></span>
</div>
<hr>
<h4>Billable To</h4>
<p><%= invoice.customer.name %> (<%= invoice.customer.email %>)</p>
<hr>
<h4>Line Items</h4>
<% for(let lineItem of invoice.lineItems){ %>
    <div class="row justify-content-between mx-0">
        <p class="col mb-0"><%= lineItem.description %></p>
        <p class="col-3 col-md-2 mb-0 text-right">$<%= lineItem.amount.toFixed(2) %></p>
    </div>
<% } %>
<hr>
<div class="row justify-content-between">
    <h4 class="col">Total:</h4>
    <h4 class="col text-right">$<%= invoice.amount.due.toFixed(2) %></h4>
</div>
<div class="row justify-content-between">
    <h4 class="col">Paid:</h4>
    <h4 class="col text-right">$<%= invoice.amount.paid.toFixed(2) %></h4>
</div>
<hr>
<div class="row justify-content-between">
    <h3 class="col">Due:</h3>
    <h3 class="col text-right">$<%= invoice.amount.remaining.toFixed(2) %></h3>
</div>
<hr>
<% if(invoice.amount.remaining){ %>
    <% if((Object.keys(invoice.paymentOptions).length)>1){ %> 
        <div class="row mb-5 text-center" id="select-payment-type">
            <div class="col"> 
                <button class="btn btn-primary btn-lg btn-block" id="card-select" data-form="#card-payment-form">Card</button>
            </div>
            <div class="col">
                <button class="btn btn-outline-primary btn-lg btn-block" id="bank-select" data-form="#bank-payment-form">Bank</button>
            </div>
        </div>
    <% } %>
    <% if("card" in invoice.paymentOptions){ %>  
        <form action="/invoices/<%= invoice._id %>/pay" method="POST" id="card-payment-form" data-secret="<%= clientSecret %>">
            <label class="form-label" for="card-element">Credit or debit card information</label>
            <div class="mb-3 form-control" id="cardNumber"></div>
            <div class="mb-3 form-row">
                <div class="col-4">
                    <div class="form-control" id="cardExpiry"></div>
                </div>
                <div class="col-3">
                    <div class="form-control" id="cardCvc"></div>
                </div>
                <div class="col-5">
                    <input class="form-control" type="number" id="postalCode" placeholder="Postal Code">
                </div>
            </div>
            <div class="mb-3 alert alert-danger" id="card-errors" role="alert" hidden></div>
            <div class="mb-3 text-center">
                <button class="btn btn-primary btn-lg px-5" id="card-submit-button">Pay Invoice with Card</button>
            </div>
        </form>
    <% } %> 
    <% if("bank" in invoice.paymentOptions){ %>  
        <form action="/invoices/<%= invoice._id %>/pay" method="POST" id="bank-payment-form" <%= ((Object.keys(invoice.paymentOptions).length)>1)?"hidden":"" %>>
            <div class="mb-3 text-center" id="bank-payment-div">
                <p>You will be prompted to enter details for your bank.</p>
                <button class="btn btn-primary btn-lg px-5" id="link-button" type="button">Add Bank Account</button>
            </div>
        </form>
    <% } %> 
<% } %>
<% block("scripts").append('<script src="/js/invoice-status.js"></script>') %>
<% if((Object.keys(invoice.paymentOptions).length)>1){ %> 
    <% block("scripts").append('<script src="/js/select-payment-type.js"></script>') %>
<% } %> 
<% if(invoice.amount.remaining){ %> 
    <% if("card" in invoice.paymentOptions){ %> 
        <script>
            const publicKey = "<%- publicKey %>";
        </script>
        <% block("scripts").append('<script src="/js/submit-card-payment.js"></script>') %>
    <% } %> 
    <% if("bank" in invoice.paymentOptions){ %> 
        <script>
            const linkToken = "<%- linkToken %>";
            const plaidEnv = "<%- plaidEnv %>";
        </script>
        <% block("scripts").append('<script src="/js/submit-bank-payment.js"></script>') %>
    <% } %> 
<% } %> 